name: Automated product release

on:
  pull_request:
    branches: [ master ]
    types: [ closed ]


jobs:
  check-release:
    name: Check release required
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged && endsWith(github.repository, '-private') != true }}
    outputs:
      release: ${{ steps.check.outputs.ready }}
    steps:
      - name: Checkout actions
        uses: actions/checkout@v2
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - id: check
        name: Check pre-release completed
        uses: ./.github/.release/actions/actions/checks/release
        with:
          token: ${{ secrets.GH_TOKEN }}
  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: check-release
    if: ${{ needs.check-release.outputs.release == 'true' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          # This should be the same as the one specified for on.pull_request.branches
          ref: master
      - name: Checkout actions
        uses: actions/checkout@v2
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Install Unity engine
        uses: ./.github/.release/actions/actions/installers/unity
        with:
          unity-version: "2019.2.11f1"
      - name: Publish to RubyGems
        uses: ./.github/.release/actions/actions/services/unity
        with:
          token: ${{ secrets.GH_TOKEN }}
          project-path: ./PubNubUnity
          package-name: PubNub
          license-username: ${{ secrets.UNITYCI_NEW_USER }}
          license-password: ${{ secrets.UNITYCI_NEW_PASS }}
          license-serial: ${{ secrets.UNITYCI_NEW_SERIAL }}
      - name: Create Release
        uses: ./.github/.release/actions/actions/services/github-release
        with:
          token: ${{ secrets.GH_TOKEN }}
          jira-api-key: ${{ secrets.JIRA_API_KEY }}
          last-service: true
