name: Tests
concurrency: unity_run

on:
  push:
  workflow_dispatch:

jobs:
  tests:
    name: Integration and Unit tests
    runs-on: macos-latest
    env:
      EVENT_NOKQUEUE: 1
      PUB_KEY: ${{ secrets.PUB_KEY }}
      SUB_KEY: ${{ secrets.SUB_KEY }}
      PAM_PUB_KEY: ${{ secrets.PAM_PUB_KEY }}
      PAM_SUB_KEY: ${{ secrets.PAM_SUB_KEY }}
      PAM_SECRET_KEY: ${{ secrets.PAM_SECRET_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Checkout actions
        uses: actions/checkout@v2
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Install Unity engine
        uses: ./.github/.release/actions/actions/installers/unity
        with:
          unity-version: "2019.2.11f1"
      - name: Unit tests
        uses: ./.github/.release/actions/actions/runners/unity
        with:
          project-path: ./PubNubUnity
          test-mode: edit
          license-username: ${{ secrets.UNITYCI_NEW_USER }}
          license-password: ${{ secrets.UNITYCI_NEW_PASS }}
          license-serial: ${{ secrets.UNITYCI_NEW_SERIAL }}
      - name: Integration tests
        uses: ./.github/.release/actions/actions/runners/unity
        with:
          project-path: ./PubNubUnity
          test-mode: play
          license-username: ${{ secrets.UNITYCI_NEW_USER }}
          license-password: ${{ secrets.UNITYCI_NEW_PASS }}
          license-serial: ${{ secrets.UNITYCI_NEW_SERIAL }}
